/*.container {*/
/*width: 50%;*/
/*margin: auto;*/
/*}*/

/*table:not(.no-align), input[type="text"], textarea {*/
/*width: 100%;*/
/*}*/

/*.a-edit {*/
/*margin-top: 2em;*/
/*display: inline-block;*/
/*}*/

/*.margin-top {*/
/*margin-top: 1em;*/
/*display: inline-block;*/
/*}*/
