{% extends 'base.html' %}

{% block title %}Tag{% endblock %}

{% block content %}
{% if error %}
  <div class="alert alert-danger text-center">
    Error.
  </div>
{% endif %}

<form class="form-horizontal" method="post" action="{% url 'add_section' %}">
  {% csrf_token %}
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Section name</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="name" id="name" placeholder="Section name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="role_name">Role name</label>
    <div class="col-md-6">
      <select class="form-control" id="role_name" name="role_name">
        <option>admin</option>
        <option>moderator</option>
        <option selected="selected">regular</option>
        <option>newbie</option>
      </select>
    </div>
</div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="description">Description</label>
    <div class="col-md-6">
        <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
    </div>
  </div>
  <input class="btn btn-success col-md-4 col-md-offset-4" type="submit" value="Add section"/>
</form>
{% endblock %}