{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'Forum/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Forum/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="row">
<div class="col-md-6 col-md-offset-3">
{% block content %}
{% endblock %}
</div>
</div>
<script src="{% static 'Forum/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'Forum/js/bootstrap.min.js' %}"></script>
</body>
</html>