{% extends 'base.html' %}

{% block title %}Edit profile{% endblock %}

{% block content %}
{% if ERROR %}
  <div class="alert alert-danger text-center">
    Error.
  </div>
{% endif %}

<form method="post" action="{% url 'edit_profile' %}" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
    <label class="col-md-4 control-label" for="nickname">Nickname</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname"
             value="{{ NICKNAME }}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="full_name">Full name</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Full name"
             value="{{ FULL_NAME }}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="status">Status</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="status" id="status" placeholder="Status"
             value="{{ STATUS }}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="signature">Signature</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="signature" id="signature" placeholder="Signature"
             value="{{ SIGNATURE }}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="password">Password</label>
    <div class="col-md-6">
      <input type="password" class="form-control" name="password" id="password" placeholder="Password"
             value="{{ PASSWORD }}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>
    <div class="col-md-6">
      <input type="email" class="form-control" name="email" id="email" placeholder="Email"
             value="{{ EMAIL }}">
    </div>
  </div>
  <input class="btn btn-success col-md-4 col-md-offset-4" type="submit" value="Update profile"/>
</form>
{% endblock %}