<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum sections</title>
</head>
<body>
{% if user.nickname %}
    <p>h0i!!!,
        <a href="{% url 'profile' user.login %}">
            {{ user.nickname }}
        </a>,
        <a href="{% url 'logout' %}">
            b0i!!!!1
        </a>
    </p>
{% else %}
    <table>
        <tr>
            <td>
                <a href="{% url 'login' %}">
                    Login
                </a>
            </td>
            <td>
                <a href="{% url 'register' %}">
                    Register
                </a>
            </td>
        </tr>
    </table>
{% endif %}

{% if sections.rowcount != 0 %}
    <ul>
        {% for section in sections %}
            <li>
                <p>
                    <a href="{% url 'section' section.Name %}">
                        {{ section.Name }}
                    </a>
                </p>

                <p>{{ section.Date }}</p>

                <p>{{ section.Role_Name }}</p>

                <p>{{ section.Description }}</p>
                {% if user.is_admin %}
                    <a href="{% url 'remove_section' section.Name %}">
                        Remove section
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No sections yet.</p>
{% endif %}
{% if user.is_admin %}
    <a href="{% url 'add_section' %}">
        Add Section
    </a>
{% endif %}
</body>
</html>
