<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forum sections</title>
</head>
<body>

<div>
  <table>
    {% if USER.USERNAME %}
      <tr>
        <td>
          <a href="{% url 'profile' USER.USERNAME %}">
            {{ USER.NICKNAME }}
          </a>
        </td>
        <td>
          <a href="{% url 'logout' %}">
            sign out
          </a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td>
          <a href="{% url 'login' %}">
            Login
          </a>
        </td>
        <td>
          <a href="{% url 'register' %}">
            Register
          </a>
        </td>
      </tr>
    {% endif %}
  </table>

  <ul>
    {% for SECTION in SECTIONS %}
      <li>
        <h3>
          <a href="{% url 'section' SECTION.NAME %}">
            {{ SECTION.NAME }}
          </a>
        </h3>
      </li>
      Created: {{ SECTION.CREATE_DATE }}
      <br/>

      Moderators:
      {% for MODERATOR in SECTION.MODERATORS %}
        <a href="{% url 'profile' MODERATOR.USERNAME %}">
          {{ MODERATOR.NICKNAME }}
        </a>
      {% endfor %}
      <br/>

      Category: {{ SECTION.ROLE_NAME }}
      <br/>

      description: {{ SECTION.DESCRIPTION }}
      <br/>
      {% if USER.IS_ADMIN %}

        <a href="{% url 'remove_section' SECTION.NAME %}">
          Remove section
        </a>
      {% endif %}
    {% endfor %}
  </ul>

  {% if USER.IS_ADMIN %}
    <table>
      <tr>
        <td>
          <a href="{% url 'add_section' %}">
            Add Section
          </a>
        </td>
      </tr>
    </table>
  {% endif %}
</div>

</body>
</html>
