<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% block content %}

    {% if error %}
        <p>Your username or password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <table>
            <tr>
                <td>
                    <label for="Login">Login: </label>
                </td>
                <td>
                    <input id="Login" type="text" name="Login" value="{{ Login }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Password">Password: </label>
                </td>
                <td>
                    <input id="Password" type="password" name="Password" value="{{ Password }}">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Login"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}
</body>
</html>