<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>

<div>
  <table>
    <tr>
      <td>
        Nickname:
      </td>
      <td>
        {{ USER_INFO.NICKNAME }}
      </td>
    </tr>
    <tr>
      <td>
        Full name:
      </td>
      <td>
        {{ USER_INFO.FULL_NAME }}
      </td>
    </tr>
    <tr>
      <td>
        Status:
      </td>
      <td>
        {{ USER_INFO.STATUS }}
      </td>
    </tr>
    <tr>
      <td>
        Signature:
      </td>
      <td>
        {{ USER_INFO.SIGNATURE }}
      </td>
    </tr>
    <tr>
      <td>
        Role:
      </td>
      <td>
        {{ USER_INFO.ROLE_NAME }}
      </td>
    </tr>

    <tr>
      <td>
        Rank:
      </td>
      <td>
        {{ USER_INFO.RANK_NAME }} ({{ USER_INFO.BONUS_RATING }})
      </td>
    </tr>

    {% if MODERATED_SECTIONS %}
      <tr>
        <td>
          Moderated sections:
        </td>
        <td>
          <table>
            {% for SECTION in MODERATED_SECTIONS %}
              <tr>
                <td>
                  <a href="{% url 'section' SECTION %}">
                    {{ SECTION }}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endif %}

    {% if TROPHIES %}
      <tr>
        <td>
          Trophies:
        </td>
        <td>

          <table>
            {% for TROPHY in TROPHIES %}
              <tr>
                <td>
                  {{ TROPHY.TROPHY_NAME }}:
                </td>
                <td>
                  {{ TROPHY.DESCRIPTION }}
                </td>
              </tr>
            {% endfor %}
          </table>

        </td>
      </tr>
    {% endif %}

    {% if user.get_username == USER_INFO.USERNAME %}
      <tr>
        <td>
          <a href="{% url 'edit_profile' %}">
            Edit
          </a>
        </td>
      </tr>
    {% endif %}

  </table>
</div>

</body>
</html>