{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-4 control-label">Nickname</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ USER_INFO.NICKNAME }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Full name</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ USER_INFO.FULL_NAME }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Status</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ USER_INFO.STATUS }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Signature</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ USER_INFO.SIGNATURE }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Role</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ USER_INFO.ROLE_NAME }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Rank</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ USER_INFO.RANK_NAME }} ({{ USER_INFO.BONUS_RATING }})</p>
    </div>
  </div>

  {% if MODERATED_SECTIONS %}
    <div class="form-group">
      <label class="col-md-4 control-label">Moderated sections</label>
      {% for SECTION in MODERATED_SECTIONS %}
        <div class="col-md-8">
          <p><a href="{% url 'section' SECTION %}">{{ SECTION }}</a></p>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if TROPHIES %}
    <div class="form-group">
      <label class="col-md-4 control-label">Trophies</label>
      {% for TROPHY in TROPHIES %}
        <div class="col-md-8">
          <p>{{ TROPHY.NAME }}</p>
          <span class="help-block">{{ TROPHY.DESCRIPTION }}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if user.get_username == USER_INFO.USERNAME %}
    <a class="btn btn-default col-lg-2 col-md-offset-5" href="{% url 'edit_profile' %}">
      Edit
    </a>
  {% endif %}
</form>
{% endblock %}