<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<table>
    <tr>
        <td>
            Nickname:
        </td>
        <td>
            {{ nickname }}
        </td>
    </tr>
    <tr>
        <td>
            Full name:
        </td>
        <td>
            {{ full_name }}
        </td>
    </tr>
    <tr>
        <td>
            Status:
        </td>
        <td>
            {{ status }}
        </td>
    </tr>
    <tr>
        <td>
            Signature:
        </td>
        <td>
            {{ signature }}
        </td>
    </tr>
    <tr>
        <td>
            Role:
        </td>
        <td>
            {{ role_name }}
        </td>
    </tr>

    {% if user.get_username == username %}
        <tr>
            <td>
                <a href="{% url 'edit_profile' %}">
                    Edit
                </a>
            </td>
        </tr>
    {% endif %}

</table>

</body>
</html>