<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section {{ section_name }}</title>
</head>
<body>

<table>
    <tr>
        <td>
            <a href="{% url 'index' %}">
                Back to sections list
            </a>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            Section:
        </td>
        <td>
            {{ section_name }}
        </td>
    </tr>
</table>

<ul>
    {% for topic in topics %}
        <li>
            <h3>
                <a href="{% url 'topic' topic.section_name topic.name %}">
                    {{ topic.name }}
                </a>
            </h3>
            Created: {{ topic.date }}
            <br/>

            Author:
            <a href="{% url 'profile' topic.username %}">
                {{ topic.nickname }}
            </a>
            <br/>

            Tags:
            {% for tag in topic.tags %}
                {{ tag }}
            {% endfor %}

            {% if is_moderator %}
                <br/>
                <a href="{% url 'remove_topic' section_name topic.name %}">
                    Remove kebab
                </a>
            {% endif %}

        </li>
    {% endfor %}
</ul>

{% if is_moderator %}
    <table>
        <tr>
            <td>
                <a href="{% url 'add_topic' section_name %}">
                    Add Topic
                </a>
            </td>
        </tr>
    </table>
{% endif %}

</body>
</html>