<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Section {{ section_name }}, topic {{ topic_name }}</title>
</head>
<body>

<div>
  <table>
    <tr>
      <td>
        <a href="{% url 'section' section_name %}">
          Back to topics list
        </a>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        Section:
      </td>
      <td>
        {{ section_name }}
      </td>
    </tr>
    <tr>
      <td>
        Topic:
      </td>
      <td>
        {{ topic_name }}
      </td>
    </tr>
  </table>

  <ul>
    {% for message in messages %}
      <li>
        <h3>
          {{ message.text }}
        </h3>

        Date: {{ message.date }}
        <br/>

        Author:
        <a href="{% url 'profile' message.username %}">
          {{ message.nickname }}
        </a>
        <br/>

        <a href="{% url 'like_message' section_name topic_name message.message_id %}">
          Like: {{ message.rating }}
        </a>

        <br/>

        {% if user.is_moderator or user.username == message.username %}
          <a href="{% url 'remove_message' section_name topic_name message.message_id %}">
            Remove
          </a>

          <br/>
          <a href="{% url 'edit_message' section_name topic_name message.message_id %}">
            Edit
          </a>
        {% endif %}

      </li>
    {% endfor %}
  </ul>

  {% if user.can_add_message %}
    <form method="post" action="{% url 'add_message' section_name topic_name %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            <label for="text">Message: </label>
          </td>
        </tr>
        <tr>
          <td>
            <textarea id="text" name="text"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Add message"/>
          </td>
        </tr>
      </table>
    </form>
  {% endif %}
</div>


</body>
</html>