{% extends 'base.html' %}

{% block title %}Tag{% endblock %}

{% block content %}
<h1 class="text-center">
  Tag {{ TAG_NAME }}
</h1>
<div class="text-center">
  References: {{ TOPICS|length }}
</div>

<ul>
  {% for TOPIC in TOPICS %}
    <li>
      <h3>
        <a href="{% url 'topic' TOPIC.SECTION_NAME TOPIC.NAME %}">
          {{ TOPIC.NAME }}
        </a>
      </h3>
      Created: {{ TOPIC.CREATE_DATE }}
      <br/>

      Author:
      <a href="{% url 'profile' TOPIC.USERNAME %}">
        {{ TOPIC.NICKNAME }}
      </a>
      <br/>

      {% if IS_MODERATOR %}
        <br/>
        <a href="{% url 'remove_topic' TOPIC.SECTION_NAME TOPIC.NAME %}">
          Remove
        </a>
      {% endif %}

    </li>
  {% endfor %}
</ul>
{% endblock %}